.chiefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chiefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chief-card {
  display: flex;
  gap: 30px;
}

.chiefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.section-title.centered {
  align-items: center;
}

.chiefs-title::after,
.chiefs-title::before {
  display: block;
  width: 352px;
  border: 2px solid #cfcfbc;
  content: '';
}

.chiefs-title::before {
  position: absolute;
  left: 0;
  bottom: 24px;
}

.chiefs-title::after {
  position: absolute;
  right: 0;
  bottom: 24px;
}

.chief-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chief-text p {
  padding-bottom: 24px;
}

.chief-text p:last-child {
  margin-bottom: 0;
}

.chief-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px #a18268;
}
