.footer {
  background-image: url('../image/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
  }

  &::after {
    background-image: url(../image/bread.png);
    width: 380px;
    height: 190px;
    right: 0;
  }
  &::before {
    width: 180px;
    height: 120px;
    background-image: url(../image/littlebread.png);
    left: 0;
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
  }

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    flex-grow: 1;
  }
}

.adress {
  flex-basis: 50%;
  display: flex;
  gap: 20px;

  &__list,
  &__info {
    flex-grow: 1;
  }

  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  &__icon {
    fill: var(--color-primary-light);
  }

  &__copyright {
    font-size: 14px;
  }
}
