.formats-section {
  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__container {
    overflow: hidden;
  }

  &__item {
    flex-basis: calc((100% - 40px) / 3);
  }

  &__title {
    margin-bottom: 80px;
  }
}
